@font-face{
    font-family: 'bodoni';
    src: url(bodoni/bodoni/BodoniSvtyTwolITCTTBook.woff) format("woff");
}

* {
    font-family: 'bodoni', serif;
    --main-text-color: #808080;
    color: var(--main-text-color);
}

h1, h2, h3 {
    color: #f15c6a;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    font-family: 'Arial Light', sans-serif;
    font-weight: thin;
}

header {
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 5%;
    padding-bottom: 2%;
    max-width: 500px;
    border-bottom: .5px solid #808080;
}

footer {
    background-color: #a6b8bd;
}

#current-page {
    color: #f15c6a;
}

.main-nav{
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3%;
}

.page-nav {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}